name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          cache: true

      - name: Force Build
        run: |
          # ১. নামের ভুলটা গায়ের জোরে ঠিক করা
          sed -i 's/name: .*/name: pagla_chat/g' pubspec.yaml
          
          # ২. পুরোনো সব জঞ্জাল ডিলিট করা
          flutter clean
          
          # ৩. প্যাকেজগুলো নতুন করে নামানো
          flutter pub get
          
          # ৪. অ্যান্ড্রয়েড কনফিগারেশন আপডেট
          flutter create . --project-name pagla_chat --platforms android
          
          # ৫.SdkVersion ঠিক করা (আগোরা এরর বন্ধ করতে)
          sed -i 's/minSdkVersion .*/minSdkVersion 21/g' android/app/build.gradle
          
          # ৬. গ্রেডেল পারমিশন ও বিল্ড
          chmod +x android/gradlew
          flutter build apk --release --target=lib/main.dart

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: PaglaChat-Success
          path: build/app/outputs/flutter-apk/app-release.apk
